<div class="container text-center mt-5">
  <h1 class="display-4 fw-bold text-primary">Astronaut Career Tracking System (ACTS)</h1>
  <p class="lead text-muted text-start">
    Welcome to the<strong> Astronaut Career Tracking System (ACTS)!</strong> ACTS is developed under <strong>Stargate</strong>, is designed to maintain a comprehensive record of those who have contributed to human space exploration.
    ACTS provides a structured system for tracking <strong>Ranks, Titles, and Duty Assignments</strong> throughout their careers.
  </p>
  <p class="lead text-muted text-start">
    On our directory page you will find a list of people, and can drill down further to see their details, and info regarding their career.
  </p>
</div>
