<div class="container">
  <div *ngIf="person">
    <h2>{{ person.name }}</h2>
    <p><strong>Person ID:</strong> {{ person.personId }}</p>

    <p>
      <strong>Current Rank:</strong> {{ getValueForUI(person.currentRank)}}
    </p>

    <p>
      <strong>Current Duty Title:</strong> {{ getValueForUI(person.currentDutyTitle)}}
    </p>

    <p>
      <strong>Career Start Date:</strong> {{ getValueForUI(person.careerStartDate | date:'mediumDate') }}
    </p>

    <p>
      <strong>Career End Date:</strong> {{ getValueForUI(person.careerEndDate | date:'mediumDate')}}
    </p>
  </div>

  <div *ngIf="!person">
    <p>No astronaut data available.</p>
  </div>

</div>

