<div class="container">
  <div *ngIf="person">
    <h2>{{ person.name }}</h2>
    <p><strong>ID:</strong> {{ person.personId }}</p>

    <p>
      <strong>Current Rank:</strong> {{ getValueForUI(person.currentRank)}}
    </p>

    <p>
      <strong>Current Duty Title:</strong> {{ getValueForUI(person.currentDutyTitle)}}
    </p>

    <p>
      <strong>Career Start Date:</strong> {{ getValueForUI(person.careerStartDate | date:'mediumDate') }}
    </p>

    <p>
      <strong>Career End Date:</strong> {{ getValueForUI(person.careerEndDate | date:'mediumDate')}}
    </p>
  </div>

  <div *ngIf="!person">
    <p>No astronaut data available.</p>
  </div>

</div>

<div *ngIf="duties && duties.length > 0" class="container mt-4"><br />
  <h3>Astronaut Duties</h3>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Rank</th>
        <th>Duty Title</th>
        <th>Duty Start Date</th>
        <th>Duty End Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through people array and display each person -->
      <tr *ngFor="let duty of duties">
        <td>{{ getValueForUI(duty.rank) }}</td>
        <td>{{ getValueForUI(duty.dutyTitle) }}</td>
        <td>{{ getValueForUI(duty.dutyStartDate | date:'shortDate') }}</td>
        <td>{{ getValueForUI(duty.dutyEndDate | date:'shortDate') }}</td>
      </tr>
    </tbody>
  </table>
</div>

