<div class="container mt-4">
  <h2>People in the Astronaut Career Tracking System</h2>

  <button (click)="filterTable()">Search</button>

  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Person ID</th>
        <th>Name</th>
        <th>Current Rank</th>
        <th>Current Duty Title</th>
        <th>Career Start Date</th>
        <th>Career End Date</th>
        <th>More Info</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through people array and display each person -->
      <tr *ngFor="let person of people">
        <td>{{ person.personId }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.currentRank }}</td>
        <td>{{ person.currentDutyTitle }}</td>
        <td>{{ person.careerStartDate | date:'shortDate' }}</td>
        <td>{{ person.careerEndDate | date:'shortDate' }}</td>
        <td><button routerLink="{{'/people/' + person.name}}" class="btn-primary">Details</button></td>
      </tr>
    </tbody>
  </table>
</div>
